.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .copyright {
    p {
      @include textStyles();
      font-size: size(xxs);
      margin: 1rem;
    }
  }

  &-socials {
    a {
      margin: 1rem;
      color: color(white);
      transition: all 0.3s ease-in-out;

      &:hover,
      &:focus {
        color: color(primary);
      }
    }
  }
}
