.btn-primary {
  background-color: color(primary);
  color: color(white);
  font-size: size(md);
  padding: 1.9rem 2.5rem;
  border: 0;
  transition: all 0.3s ease-in-out;

  &:hover,
  &:focus {
    background-color: darken(color(primary), 10%);
  }
}

.btn-primary-slim {
  @extend .btn-primary;
  padding: 1rem 2rem;
}

.btn-trans-container {
  @include flexCenter();

  .btn-trans {
    @extend .btn-primary;
    background-color: transparent;
    border: 0.1rem solid color(white);
    text-align: center;
  }
}
