.stories {
  @include sectionSpacing();
  background: color(white);

  &-content {
    @include maxWidthLg();
    color: color(black);

    .carousel-slide {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5rem;
      height: 40vh;
      cursor: grab;

      @include responsive(lg) {
        grid-template-columns: 1fr;
        height: 70vh;
      }

      &:active {
        cursor: grabbing;
      }

      &-info {
        img {
          width: 30rem;
        }

        p {
          @include textStyles();
          font-size: size(xs);
        }

        cite {
          @include textStyles();
          font-size: size(xxs);
        }
      }
    }

    .carousel-slide-1 {
      .carousel-slide-img-container {
        background: url("../images/home/ces-img.jpg") center center/cover
          no-repeat;
      }
    }

    .carousel-slide-2 {
      .carousel-slide-img-container {
        background: url("../images/home/hollywood-img.jpg") center center/cover
          no-repeat;
      }
    }

    .carousel-slide-3 {
      .carousel-slide-info {
        img {
          width: 15rem;
        }
      }

      .carousel-slide-img-container {
        background: url("../images/home/strongertech-img.jpg") center
          center/cover no-repeat;
      }
    }

    .controls {
      text-align: center;
      margin-top: 5rem;

      @include responsive(lg) {
        margin-top: 0;
      }
    }
  }
}

.spotlight {
  &-content {
    @include maxWidthLg();
    @include sectionSpacing();

    .spotlight-slides {
      cursor: grab;

      &:active {
        cursor: grabbing;
      }

      .spotlight-slide {
        text-align: center;

        h4 {
          @include textStyles();
          font-size: size(sm);

          span:nth-child(1) {
            color: color(primary);
            font-size: size(xxl);
          }

          span:nth-child(2) {
            font-weight: bold;
          }
        }

        p {
          @include textStyles();
          font-size: size(xxs);
        }
      }
    }
  }
}

.news {
  background-color: color(white);

  &-content {
    @include maxWidthMd();
    text-align: center;

    .news-slides {
      cursor: grab;

      &:active {
        cursor: grabbing;
      }

      .news-slide {
        img {
          width: 15rem;

          @include responsive(md) {
            width: 10rem;
          }
        }

        &-4 {
          img {
            width: 8rem;
          }
        }

        &-6 {
          img {
            width: 5rem;
          }
        }
      }
    }
  }
}
