.inner-page-contact {
  background: color(white);
  color: color(black);

  &-content {
    @include maxWidthSm();
    text-align: center;
    padding: 0 2rem;

    h2 {
      @include textStyles();
      font-size: size(md);
      width: 75%;
      margin: auto;

      @include responsive(md) {
        width: 100%;
      }

      span:nth-child(1) {
        color: color(primary);
      }

      span:nth-child(2) {
        font-weight: bold;
        font-style: italic;
      }
    }

    form {
      .form-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        @include responsive(md) {
          grid-template-columns: 1fr;
        }

        input,
        select {
          width: 100%;
          padding: 1rem;
        }
      }
    }
  }
}
