.section-title {
  @include flexCenter();
  padding: 0 2rem;

  h2,
  h1 {
    @include headingStyles();
    font-size: size(xxl);
  }

  .underline {
    height: 0.2rem;
    width: 10%;
    background-color: color(primary);
  }
}

.section-title-light {
  @extend .section-title;

  h2 {
    color: color(black);
  }
}

.live-sites-title {
  padding-top: 20rem;

  span {
    font-size: size(xl);
    color: color(primary);
  }
}
