// FONT
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

// GLOBALS
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include responsive(sm) {
    font-size: 55.5%;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: color(black);
  color: color(white);
}

.login-signup-body {
  overflow: hidden;
}

img {
  width: 100%;
  object-fit: cover;
}

button {
  cursor: pointer;
  font-family: inherit;
}

input {
  font-family: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

// REDUCE MOTION
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}
